# backend
NODE_ENV=development
DB_URI=mongodb://localhost:27017
PORT=3000

# frontend - remember, env variables for Vue.js should be in "frontend/.env" and their names should match pattern VUE_APP_*
VUE_APP_SERVER=http://localhost:3000/